<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hurricane.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Hurricane.Properties.Settings>
            <setting name="TriggerbotToggleBindName" serializeAs="String">
                <value />
            </setting>
            <setting name="WallhackToggleBindName" serializeAs="String">
                <value />
            </setting>
            <setting name="NoFlashToggleBindName" serializeAs="String">
                <value />
            </setting>
            <setting name="BunnyhopBindName" serializeAs="String">
                <value />
            </setting>
            <setting name="TriggerbotToggleBindKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WallhackToggleBindKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoFlashToggleBindKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BunnyhopBindKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowedPistols" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedShotguns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedAWP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedRifles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedSMGs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedNoobWeapons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RedEnemy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GreenEnemy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlueEnemy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RedFriend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GreenFriend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlueFriend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FriendlyWallhack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedAimImprove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedSwapWeapon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedQuickScope" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReactionTime" serializeAs="String">
                <value>0</value>
            </setting>
        </Hurricane.Properties.Settings>
    </userSettings>
</configuration>